
<%= image_tag current_user.profile_picture.url(:thumb), class: "img-circle" %> <br>

<p>Events I'm attending!</p>
<ul>
	<% current_user.events.each do |event| %>
	<li>
		<%= link_to "#{event.name}", event_path(event.id) %>
	</li>
	<% end %>
</ul>



