<div id="description">
  <p>Find community service events to attend in Cape Town!</p>
</div>

<div id="home_buttons">
  <%= link_to 'Sign In', new_user_session_path, class: "btn btn-xlarge btn-primary" %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-xlarge btn-primary" %>
</div>