<div id="description">
  <p>Find community service events to attend in Cape Town!</p>
</div>

<div id="image_ct">
  <%= image_tag "nice_ct.jpg", class: "stretch" %>
</div>

<div id="home_buttons">
  <%= link_to 'Sign In', new_user_session_path, class: "btn btn-success home_button" %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success home_button" %>
</div>