#new_event_title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #2C4F7F;
	font-weight: bold;
}

#unhappy_title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #2C4F7F;
}

#event_desc {
	width: 80%;
	padding-left: 7%;
	margin-left: 10%;
}

#comment_name {
	color: #2C4F7F;
	font-size: 14px;
}

#comment_content {
	margin-left: 3%;
}

#comments {
	padding-left: 1.5%;
	width: 80%;
}