#image_ct {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#description {
  	color: white;
	font-size: 25px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 1;
	width: 100%;
	height: 23px;
}

#home_buttons {
	text-align: center;
	z-index: 3;
}

.btn-xlarge {
	width: 20%;
	height: 20%;
}

#sign_form {
	/*text-align: center;*/
	text-align: right;
}

#sign_up_form {
	background-color: rgba(255,255,255, 0.7);
	width: 28%;
	margin: auto;
	text-align: center;
	margin-top: 4%;
}

#mandela {
	text-align: center;
	margin-top: 51%;
	font-size: 20px;
	font-style: italic;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	/*background-color: white;*/
}

#brighten {
	font-style: bold;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	left: 25%;
}

#no_account {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile_picture_field {
	margin: 0 auto;
	text-align: center;
	padding-left: 25%;
}