#description {
  	text-align: center;
  	vertical-align: middle;
  	margin-top: 25%;
  	background-color: rgba(100, 100, 100, 0.7);
  	color: white;
	font-size: 30px;
  	font-style: italic;
  	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  	float: center;
}

#home_buttons {
	text-align: center;
	/*margin-bottom: 20%;
	margin-top: 20%;
	padding-bottom: 23%;*/
}

.home_button {
	width: 200px;
	height: 50px;
	vertical-align: middle;
}

#su_button {
/*	vertical-align: middle;
	font-size: 40px;*/
}

#image_ct {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}