#image_ct {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#description {
  	color: white;
	font-size: 30px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	position: fixed;
	top: 32%;
	left: 35%;
	z-index: 1;
	width: 30%;
	text-align: center;
}

#brighten {
	font-style: bold;
	font-family: Bradley Hand ITC;
	position: fixed;
	left: 43%;
	width: 15%;
	font-style: italic;
	font-size: 30px;
}

/*#home_buttons {
	text-align: center;
	z-index: 3;
}*/

#sign_form {
	text-align: right;
}

#sign_up_form {
	background-color: rgba(255,255,255, 0.7);
	width: 28%;
	margin: auto;
	text-align: center;
	margin-top: 4%;
}

.quote {
	position: relative;
	top: 50%;
}

#mandela {
	font-size: 24px;
	font-style: italic;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	position: fixed;
	left: 0;
	top: 86%;
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	vertical-align: center;
}

#profile_picture_field {
	margin: 0 auto;
	text-align: center;
	padding-left: 25%;
}

#sign_title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 25px;
	font-style: bold;
}