#image_ct {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#description {
  	text-align: center;
  	vertical-align: middle;
  	margin-top: 25%;
  	background-color: rgba(100, 100, 100, 0.7);
  	color: white;
	font-size: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	z-index: 2;
}

#home_buttons {
	text-align: center;
	z-index: 3;
}

.btn-xlarge {
	width: 20%;
	height: 20%;
}

#sign_form {
	margin-top: 9%;
	margin-left: 35%;
	background-color: rgba(255,255,255, 0.8);
	width: 30%;
	text-align: center;
}

#sign_title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile_picture_field {
	margin: 0 auto;
	text-align: center;
	padding-left: 25%;
}

#logo {

}