#image_ct {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

#first-sentence, #second-sentence {
  	color: white;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
  	position: fixed;
	top: 17%;
	left: 25%;
	z-index: 1;
	width: 30%;
	text-align: center;
}

#second-sentence {
	top: 55%;
	left: 45%;
	z-index: 1;
	width: 30%;
}

#brighten {
	font-style: bold;
	font-family: 'Josefin Sans', sans-serif;
	position: fixed;
	top: 21%;
	left: 23%;
	font-size: 200px;
	color: white;
}

#sign_form {
	text-align: right;
}

#sign_up_form {
	background-color: rgba(255,255,255, 0.7);
	width: 28%;
	margin: auto;
	text-align: center;
	margin-top: 4%;
}

#quote {
	position: relative;
	top: 50%;
}

#hover-text {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-style: bold;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	position: fixed;
	top: 21%;
	left: 23%;
	font-size: 75px;
}

#mandela {
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	position: fixed;
	left: 0;
	top: 86%;
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	vertical-align: center;
}

#profile_picture_field {
	margin: 0 auto;
	text-align: center;
	padding-left: 25%;
}

#sign_title {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 25px;
	font-style: bold;
}