.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.sidebar-nav .navbar ul {
  float: none;
}
.sidebar-nav .navbar ul:not {
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.sidebar-nav {
  height: 100%;
}

.sidebar-nav .user-profile-picture {
  margin-top: 20px;
  margin-left: 5px;
}

.sidebar-nav .user-name {
  margin-left: 0;
}

