<% content_for :search do %>
  <%= render 'shared/search_organizations' %>
<% end %>


<ul>
	<% @organizations.each do |organization| %>
	<li>
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag organization.picture.url(:thumb), class: "media_object img-circle" %>
			</a>
			<div class="media-body">
				<h4><%= link_to organization.name, organization_path(organization), class: "media-heading" %></h4>
				<%= organization.description %>
			</div>
		</div>
	</li>
	<% end %>
</ul>

<br>

